/* Font Colors */

$base-font-size: 14px;
$base-font-family: 'Lato', sans-serif;
$title-font-family: 'Playfair Display', serif;
$base-font-color: #333;
$base-link-font-color: #666;
$social-logo-color: #999999;
$footer-font-color: #222;
$border-color: #d6d6d6;

/* Background Colors */

$body-bg-color: #f8f8f8;
$page-bg-color: #fff;
$highlighted-color: rgba(230, 110, 175, 1);
$footer-bg-color: #e2e2e2;
